@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  font-family: Ubuntu Sans Mono;
  margin-left: 20px;
}

.title {
  font-size: 50px;
}

#stardust-counter {
  font-size: 40px;
}

#tier-display {
  font-size: 30px;
}

#stardust-button {
  font-size: 20px;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-image: linear-gradient(to bottom, black, rgb(50, 0, 50));
  color: white;
}

button {
  border-radius: 5px;
}

.stardust-I {
  margin-top: 20px;
  background-color: blueviolet;
  display: inline-block; /* Makes the element only as wide as its content */
  border-radius: 5px; /* Optional: adds rounded corners */
  padding-bottom: 20px;
  padding-right: 20px;
}
